@import '../../sass/variables';
@import '../../sass/mixins';
    
.tab__wrapper
    margin-top: 100px;
    margin-left: 40px;
    .active
        border-bottom: 3px solid #ee3333;
        padding-bottom: 15px;
    .tab__panel
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        opacity: 0;
        transition: all 0.5s;
        &:focus
            border: 0;
            
    @include porductCard

    .tabpanel__selected
        opacity: 1;

